/* source-sans-pro-regular - latin */
/* https://google-webfonts-helper.herokuapp.com/fonts/source-sans-pro?subsets=latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/source-sans-pro-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/source-sans-pro-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cabin-600 - latin */
/* https://google-webfonts-helper.herokuapp.com/fonts/cabin?subsets=latin */
@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/cabin-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cabin-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'am-icon';
    src:  url('../fonts/am-icon.eot?fr8yu5');
    src:  url('../fonts/am-icon.eot?fr8yu5#iefix') format('embedded-opentype'),
      url('../fonts/am-icon.ttf?fr8yu5') format('truetype'),
      url('../fonts/am-icon.woff?fr8yu5') format('woff'),
      url('../fonts/am-icon.svg?fr8yu5#am') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'am-icon-sc';
    src:  url('../fonts/am-icon-sc.eot?fr8yu5');
    src:  url('../fonts/am-icon-sc.eot?fr8yu5#iefix') format('embedded-opentype'),
      url('../fonts/am-icon-sc.ttf?fr8yu5') format('truetype'),
      url('../fonts/am-icon-sc.woff?fr8yu5') format('woff'),
      url('../fonts/am-icon-sc.svg?fr8yu5#am') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.font-source-sans-pro {
    font-family: 'Source Sans Pro';
}

.font-cabin {
    font-family: 'Cabin';
}

.font-arial {
    font-family: 'Arial';
}

[class^="am-icon-"], [class*=" am-icon-"] {
    font-family: 'am-icon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

[class^="am-icon-sc-"], [class*=" am-icon-sc-"] {
    font-family: 'am-icon-sc' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .am-icon-1:before {
    content: "\e900";
  }
  .am-icon-2:before {
    content: "\e901";
  }
  .am-icon-3:before {
    content: "\e902";
  }
  .am-icon-4:before {
    content: "\e903";
  }
  .am-icon-5:before {
    content: "\e904";
  }
  .am-icon-6:before {
    content: "\e905";
  }
  .am-icon-7:before {
    content: "\e906";
  }
  .am-icon-8:before {
    content: "\e907";
  }
  .am-icon-9:before {
    content: "\e908";
  }
  .am-icon-10:before {
    content: "\e909";
  }
  .am-icon-11:before {
    content: "\e90a";
  }
  .am-icon-12:before {
    content: "\e90b";
  }
  .am-icon-13:before {
    content: "\e90c";
  }
  .am-icon-14:before {
    content: "\e90d";
  }
  .am-icon-15:before {
    content: "\e90e";
  }
  .am-icon-16:before {
    content: "\e90f";
  }
  .am-icon-17:before {
    content: "\e910";
  }
  .am-icon-18:before {
    content: "\e911";
  }
  .am-icon-19:before {
    content: "\e912";
  }
  .am-icon-20:before {
    content: "\e913";
  }
  .am-icon-21:before {
    content: "\e914";
  }
  .am-icon-22:before {
    content: "\e915";
  }
  .am-icon-23:before {
    content: "\e916";
  }
  .am-icon-24:before {
    content: "\e917";
  }
  .am-icon-25:before {
    content: "\e918";
  }
  .am-icon-26:before {
    content: "\e919";
  }
  .am-icon-27:before {
    content: "\e91a";
  }
  .am-icon-28:before {
    content: "\e91b";
  }
  .am-icon-29:before {
    content: "\e91c";
  }
  .am-icon-30:before {
    content: "\e91d";
  }
  .am-icon-31:before {
    content: "\e91e";
  }
  .am-icon-32:before {
    content: "\e91f";
  }
  .am-icon-33:before {
    content: "\e920";
  }
  .am-icon-34:before {
    content: "\e921";
  }
  .am-icon-35:before {
    content: "\e922";
  }
  .am-icon-36:before {
    content: "\e923";
  }
  .am-icon-37:before {
    content: "\e924";
  }
  .am-icon-38:before {
    content: "\e925";
  }
  .am-icon-39:before {
    content: "\e926";
  }
  .am-icon-40:before {
    content: "\e927";
  }
  .am-icon-41:before {
    content: "\e928";
  }
  .am-icon-42:before {
    content: "\e929";
  }
  .am-icon-43:before {
    content: "\e92a";
  }
  .am-icon-44:before {
    content: "\e92b";
  }
  .am-icon-45:before {
    content: "\e92c";
  }
  .am-icon-46:before {
    content: "\e92d";
  }
  .am-icon-47:before {
    content: "\e92e";
  }
  .am-icon-48:before {
    content: "\e92f";
  }
  .am-icon-49:before {
    content: "\e930";
  }
  .am-icon-50:before {
    content: "\e931";
  }
  .am-icon-51:before {
    content: "\e932";
  }
  .am-icon-52:before {
    content: "\e933";
  }
  .am-icon-53:before {
    content: "\e934";
  }
  .am-icon-54:before {
    content: "\e935";
  }
  .am-icon-55:before {
    content: "\e936";
  }
  .am-icon-56:before {
    content: "\e937";
  }
  .am-icon-57:before {
    content: "\e938";
  }
  .am-icon-58:before {
    content: "\e939";
  }
  .am-icon-59:before {
    content: "\e93a";
  }
  .am-icon-60:before {
    content: "\e93b";
  }
  .am-icon-61:before {
    content: "\e93c";
  }
  .am-icon-62:before {
    content: "\e93d";
  }
  .am-icon-63:before {
    content: "\e93e";
  }
  .am-icon-64:before {
    content: "\e93f";
  }
  .am-icon-65:before {
    content: "\e940";
  }
  .am-icon-66:before {
    content: "\e941";
  }
  .am-icon-67:before {
    content: "\e942";
  }
  .am-icon-68:before {
    content: "\e943";
  }
  .am-icon-69:before {
    content: "\e944";
  }
  .am-icon-70:before {
    content: "\e945";
  }
  .am-icon-71:before {
    content: "\e946";
  }
  .am-icon-72:before {
    content: "\e947";
  }
  .am-icon-73:before {
    content: "\e948";
  }
  .am-icon-74:before {
    content: "\e949";
  }
  .am-icon-75:before {
    content: "\e94a";
  }
  .am-icon-76:before {
    content: "\e94b";
  }
  .am-icon-77:before {
    content: "\e94c";
  }
  .am-icon-78:before {
    content: "\e94d";
  }
  .am-icon-79:before {
    content: "\e94e";
  }
  .am-icon-80:before {
    content: "\e94f";
  }
  .am-icon-81:before {
    content: "\e950";
  }
  .am-icon-82:before {
    content: "\e951";
  }
  .am-icon-83:before {
    content: "\e952";
  }
  .am-icon-84:before {
    content: "\e953";
  }
  .am-icon-85:before {
    content: "\e954";
  }
  .am-icon-86:before {
    content: "\e955";
  }
  .am-icon-87:before {
    content: "\e956";
  }
  .am-icon-88:before {
    content: "\e957";
  }
  .am-icon-89:before {
    content: "\e958";
  }
  .am-icon-90:before {
    content: "\e959";
  }
  .am-icon-91:before {
    content: "\e95a";
  }

  .am-icon-sc-1:before {
    content: "\e900";
  }
  .am-icon-sc-2:before {
    content: "\e901";
  }
  .am-icon-sc-3:before {
    content: "\e902";
  }
  .am-icon-sc-4:before {
    content: "\e903";
  }
  .am-icon-sc-5:before {
    content: "\e904";
  }
  .am-icon-sc-6:before {
    content: "\e905";
  }
  .am-icon-sc-7:before {
    content: "\e906";
  }
  .am-icon-sc-8:before {
    content: "\e907";
  }
  .am-icon-sc-9:before {
    content: "\e908";
  }
  .am-icon-sc-10:before {
    content: "\e909";
  }
  .am-icon-sc-11:before {
    content: "\e90a";
  }
  .am-icon-sc-12:before {
    content: "\e90b";
  }
  .am-icon-sc-13:before {
    content: "\e90c";
  }
  .am-icon-sc-14:before {
    content: "\e90d";
  }
  .am-icon-sc-15:before {
    content: "\e90e";
  }
  .am-icon-sc-16:before {
    content: "\e90f";
  }
  .am-icon-sc-17:before {
    content: "\e910";
  }
  .am-icon-sc-18:before {
    content: "\e911";
  }
  .am-icon-sc-19:before {
    content: "\e912";
  }
  .am-icon-sc-20:before {
    content: "\e913";
  }
  .am-icon-sc-21:before {
    content: "\e914";
  }
  .am-icon-sc-22:before {
    content: "\e915";
  }
  .am-icon-sc-23:before {
    content: "\e916";
  }
  .am-icon-sc-24:before {
    content: "\e917";
  }
  .am-icon-sc-25:before {
    content: "\e918";
  }
  .am-icon-sc-26:before {
    content: "\e919";
  }
  .am-icon-sc-27:before {
    content: "\e91a";
  }
  .am-icon-sc-28:before {
    content: "\e91b";
  }
  .am-icon-sc-29:before {
    content: "\e91c";
  }
  .am-icon-sc-30:before {
    content: "\e91d";
  }
  .am-icon-sc-31:before {
    content: "\e91e";
  }
  .am-icon-sc-32:before {
    content: "\e91f";
  }
  .am-icon-sc-33:before {
    content: "\e920";
  }
  .am-icon-sc-34:before {
    content: "\e921";
  }
  .am-icon-sc-35:before {
    content: "\e922";
  }
  .am-icon-sc-36:before {
    content: "\e923";
  }
  .am-icon-sc-37:before {
    content: "\e924";
  }
  .am-icon-sc-38:before {
    content: "\e925";
  }
  .am-icon-sc-39:before {
    content: "\e926";
  }
  .am-icon-sc-40:before {
    content: "\e927";
  }
  .am-icon-sc-41:before {
    content: "\e928";
  }
  .am-icon-sc-42:before {
    content: "\e929";
  }
  .am-icon-sc-43:before {
    content: "\e92a";
  }
  .am-icon-sc-44:before {
    content: "\e92b";
  }
  .am-icon-sc-45:before {
    content: "\e92c";
  }
  .am-icon-sc-46:before {
    content: "\e92d";
  }
  .am-icon-sc-47:before {
    content: "\e92e";
  }
  .am-icon-sc-48:before {
    content: "\e92f";
  }
  .am-icon-sc-49:before {
    content: "\e930";
  }
  .am-icon-sc-50:before {
    content: "\e931";
  }
  .am-icon-sc-51:before {
    content: "\e932";
  }
  .am-icon-sc-52:before {
    content: "\e933";
  }
  .am-icon-sc-53:before {
    content: "\e934";
  }
  .am-icon-sc-54:before {
    content: "\e935";
  }
  .am-icon-sc-55:before {
    content: "\e936";
  }
  .am-icon-sc-56:before {
    content: "\e937";
  }
  .am-icon-sc-57:before {
    content: "\e938";
  }
  .am-icon-sc-58:before {
    content: "\e939";
  }
  .am-icon-sc-59:before {
    content: "\e93a";
  }
  .am-icon-sc-60:before {
    content: "\e93b";
  }
  .am-icon-sc-61:before {
    content: "\e93c";
  }
  .am-icon-sc-62:before {
    content: "\e93d";
  }
  .am-icon-sc-63:before {
    content: "\e93e";
  }
  .am-icon-sc-64:before {
    content: "\e93f";
  }
  .am-icon-sc-65:before {
    content: "\e940";
  }
  .am-icon-sc-66:before {
    content: "\e941";
  }
  .am-icon-sc-67:before {
    content: "\e942";
  }
  .am-icon-sc-68:before {
    content: "\e943";
  }
  .am-icon-sc-69:before {
    content: "\e944";
  }
  .am-icon-sc-70:before {
    content: "\e945";
  }
  .am-icon-sc-71:before {
    content: "\e946";
  }
  .am-icon-sc-72:before {
    content: "\e947";
  }
  .am-icon-sc-73:before {
    content: "\e948";
  }
  .am-icon-sc-74:before {
    content: "\e949";
  }
  .am-icon-sc-75:before {
    content: "\e94a";
  }
  .am-icon-sc-76:before {
    content: "\e94b";
  }
  .am-icon-sc-77:before {
    content: "\e94c";
  }
  .am-icon-sc-78:before {
    content: "\e94d";
  }
  .am-icon-sc-79:before {
    content: "\e94e";
  }
  .am-icon-sc-80:before {
    content: "\e94f";
  }
  .am-icon-sc-81:before {
    content: "\e950";
  }
  .am-icon-sc-82:before {
    content: "\e951";
  }
  .am-icon-sc-83:before {
    content: "\e952";
  }
  .am-icon-sc-84:before {
    content: "\e953";
  }
  .am-icon-sc-85:before {
    content: "\e954";
  }
  .am-icon-sc-86:before {
    content: "\e955";
  }
  .am-icon-sc-87:before {
    content: "\e956";
  }
  .am-icon-sc-88:before {
    content: "\e957";
  }
  .am-icon-sc-89:before {
    content: "\e958";
  }
  .am-icon-sc-90:before {
    content: "\e959";
  }
  .am-icon-sc-91:before {
    content: "\e95a";
  }

